<footer>
    <section class="container-fluid bg-light">
        <div class="row justify-content-center">
            <article class="card card-largura p-0 m-4 col-md-4 col-12">
                <img src="./assets/membros/anypeople.png" class="card-img-top card-posicao-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vandré</h5>
                    <p class="card-text">O Gigante Guerreiro</p>
                    <a href="#" class="btn btn-primary">Info</a>
                </div>
            </article>
            <article class="card card-largura p-0 m-4 col-md-4 col-12">
                <img src="./assets/membros/anypeople.png" class="card-img-top card-posicao-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Luís</h5>
                    <p class="card-text">O He-Man Brasileiro</p>
                    <a href="#" class="btn btn-primary">Info</a>
                </div>
            </article>
            <article class="card card-largura p-0 m-4 col-md-4 col-12">
                <img src="./assets/membros/anypeople.png" class="card-img-top card-posicao-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">André</h5>
                    <p class="card-text">O Power Ranger de Itaquera</p>
                    <a href="#" class="btn btn-primary">Info</a>
                </div>
            </article>
        </div>
    </section>
</footer>
