/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.msg-success {
  background-color: blue;
  color: #fff;
}

.msg-error {
  background-color: #e35e6b;
  color: #fff;
}

.edit-button> i {
    color: #d9cd26;
}

.delete-button > i {
    color: #e35e6b;
}

.width-100 {
    width: 99%;
    padding-right: 1%;
  }
  
  .width-50 {
    width: 49%;
    padding-right: 1%;
  }
  
  .width-75 {
    width: 73%;
    padding-right: 1%;
  }
  
  .width-25 {
    width: 24%;
    padding-right: 1%;
  }
  
  .title {
    padding-bottom: 15px;
  } 