<main class="bg-light">
    <section id="home-banner" class="carousel slide h-25" data-bs-ride="carousel" style="height: 100px;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/banner/banner.png" class="d-block w-100 h-25 img-carrossel" alt="...">
                <div class="carousel-caption d-none d-md-block h-75 txtBanner">
                    <h1>Penguino! O seu delivery de produtos pet!</h1>
                    <h3 class="text-black">Entre em contato conosco ou se inscreva na nossa Newsletter!</h3>
                </div>
            </div>
        </div>
    </section>
    <hr class="bg-danger border-2 border-top border-dark">
    <section class="container-md fluid align-right">
        <h2 class="text-center pt-4">Objetivos</h2>
        <p class="text-center pb-4">Temos como objetivos nesse portal prover a melhor experiência com o mercado Pet!</p>
        <p class="text-center pb-4">Através do nosso portal focaremos em ligar o consumidor final com fornecedores de diversas marcas! </p>
        <h3 class="text-center pb-4">Como funciona?</h3>
        <p class="text-center pb-4">Basta você acessar a plataforma, escolher o que precisa e decidir se vai querer reservar ou comprar na hora!</p>
    </section>
    <hr class="bg-danger border-2 border-top border-dark">
    <section class="container-md fluid align-right">
        <h2 class="text-center pt-4">Status</h2>
        <h3>Aqui você pode conferir o Status do nosso projeto! Caso tenha interesse em ser notificado no progresso assine nossa Newsletter!</h3>
        <div class="w-25 p-3 mx-auto">
            <img src="./assets/banner/status.png" class="img-fluid" alt="Responsive image">
        </div>

    </section>

    <hr class="bg-danger border-2 border-top border-dark">

    <section>
        <form class="w-50 mx-auto">
            <div class="row mb-3">         
            <h1 class="text-center">Newsletter</h1>
              <div class="col-sm-10">
                <label for="inputEmail3" class="col-sm align-right col-form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail3">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-10">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword3">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-10 offset-sm-2 m-0">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck1">
                  <label class="form-check-label" for="gridCheck1">
                    <p>Eu concordo em receber os emails de update</p> 
                    <button type="submit" class="btn btn-primary">Assinar</button>
                  </label>
                </div>
              </div>
            </div>
          </form>
    </section>
</main>
